.App {
  text-align: center;
}

progress {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid;
  position: relative;
  height: 25px;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #ccc;
  height: 25px;
  border: 1px solid;
  margin: 0 auto;
}
progress[value]::-webkit-progress-bar {
  background-color: white;
  border: 1px solid lighten(#ccc, 20%);
  color: #ccc;
}
progress[value]::-moz-progress-bar {
  background-color: white;
  border: 1px solid lighten(#ccc, 20%);
  color: #ccc;
}

progress::-webkit-progress-value {
  background-color: #ccc;
}

audio {
  display: none;
}
